.pokemon-container {
  display: flex;
  gap: 1px;
  position: absolute;
  left: 640px;
  top: 13px;
  z-index: 10;
}

.pokemon-card {
  padding: 1px;
  width: 80px;
}

.image-container {
  position: relative;
}

.item-image {
  position: absolute;
  top: 0px;
  left: 40px;
  z-index: 1;
}