.pokemon-container {
  display: flex;
  gap: 1px;
  position: absolute;
  left: 640px;
  top: 13px;
  z-index: 10;
  padding: 10px;
}

.pokemon-card {
  padding: 1px;
  width: 80px;
}

.image-container {
  position: relative;
  width: 80px;
  height: 80px;
}

.pokemon-image {
  width: 80px;
  height: 80px;
}

.item-image {
  position: absolute;
  top: 0px;
  left: 40px;
  z-index: 1;
  width: 30px;
  height: 32px;
}

.ability, 
.move {
  margin-bottom: 2px;
  font-size:10px;
}